# USE one firmware to support different products.
# 1 - support
# 0 - not support
USE_ONE_FW=1

# language table flash partation
LANG_FLASH_PART=\"/dev/mtd12\"

# Writing Image mtd partation
IMAGE_MTD=\"/dev/mtd11\"

# Writing POT partation
POT_MTD=\"/dev/mtd5\"

# Writing Uboot partation
UBOOT_MTD=\"/dev/mtd0\"

LANG_FLASH_SIZE=1048576
LANG_COUNT=10
LANG_SIZE=131072
ERASE_SIZE=65536
REGION_SIZE=2
GZ_BALL_NAME_SIZE=21

# The following values will be used when USE_ONE_FW == 0
# If USE_ONE_FW == 0, MUST set the following values;
# If USE_ONE_FW == 1, You can ignore this settings.
#---------- start of Part 1 --------#

#mtd write size
BUFSIZE=\"2048\"

HOST_NAME=\"WNDR4500v3\"
CTL_MOD=\"wndr4500v3\"
UPG_MOD=\"WNDR4500series\"

# HW_ID_LEN used to mark the length of HW_ID need to check when upgrading.
# Some products just need to check part of HW_ID with first HW_ID_LEN.
# If you don't need to check part of HW_ID, please add '#' before HW_ID_LEN.
HW_ID_LEN=18

NET_IFNAME=\"eth1\"
LAN_WIRED_IFNAME=\"eth0\"
IPv6_LAN_IFNAME=\"br0\"
SMARTAGENT_VERSION=\"3.0\"
FIREWALL_INFO=\"2.0\"
VPN_INFO0=\"2.4.3\"

#the maximum value of Uplink bandwidth
MAX_BANDWIDTH=\"1000\"

# ip path , for command "ip -6 neigh show"
IP_PATH=\"ip\"

#Display three POT values on the hidden page POT.htm
NTPST_POSTION=\"2048\"
STAMAC_POSTION=\"2052\"

#----post size,can't large than flash size----#
# 25MB
MAX_POST_SIZE=\"26214400\"

#NewPhysicalMemory for soap v1.16, number in MB
PHY_MEMORY=\"32\"
#NewPhysicalFlash for soap v1.16, number in MB
PHY_FLASH=\"4\"

# Wireless mode, MODE_2 & MODE_3 is for 2.4G, MODE_3 & MODE_4 is for 5G.
MODE_1=\"54\"
MODE_2=\"216\"
MODE_3=\"450\"
MODE_4=\"216\"
MODE_5=\"450\"

#---------- end of Part 1  --------#


# 0: Use EOF to find the file end
# 1: use ftell() to get file length, then read file from 0 to max size.
EMPTY_FILE_CHECK=0

# External detwan path
# If not support external detwan, please add '#' before DETWAN_PATH,
# else set the correct detwan path. e.g.: DETWAN_PATH=\"/usr/sbin/detwan\"
DETWAN_PATH=\"/usr/sbin/detwan\"

# 1: support CD Less
# 0: not support CD Less
CD_LESS=1

#top page before hardware version show "CENTRIA"
TOP_CENTRIA=0

IP_MAC=0

HAVE_IPv6=1

HAVE_TRAFFIC_METER=1

#Block Sites
HAVE_BLOCK_SITES=1

HAVE_TR069=0

HAVE_PLC=0

VC_RELEASE=0

#check opensource ID, hardware number, magic number 
OPEN_SOURCE_CHECK=0

# If support open source fw upgrade, define OPEN_SOURCE_MODEL_ID;
# If not support it, add '#' before 'OPEN_SOURCE_MODEL_ID',
# e.g.: #OPEN_SOURCE_MODEL_ID=\"NETGEAR\"
HAVE_OPEN_SOURCE=1
OPEN_SOURCE_MODEL_ID=\"NETGEAR\"

#check new firmware information once a week 
FIRMWARE_CHECKING=1

HAVE_PIVOT_ROOT=1

#ParentalControl
DNI_PARENTAL_CTL=1

#SUPPORT HNAP
HNAP_ON=0

#pop-up thank_login window
HAVE_THANK_LOGIN=0

# add 7 checkbox in FW_log.htm 
HAVE_LOGS_CHECKBOX=1

#bug 24250:Tivo supporting from NETGEAR's request
HAVE_TIVO=1

# define USE_MTD_UTIL as 1 if use common module mtd-util to take place artmtd
USE_MTD_UTIL=0

#37375:BRIC Wireless Router SW Feature Spec draft v16 (chapter 18)
HAVE_EMAIL_SSL=0

#42490 spec 12 SMTP port number support
HAVE_SMTP_PORT=1

#port forwarding:allow user to specify port range + fixed ports in one rule
FORWARD_RANGE=1

#Access Control feature
HAVE_ACCESS_CONTROL=1
SMART_NETWORK_SUPPORT=0

#-------------start of wireless setting-------------#
#(5GHz a/n)
HAVE_WIRELESS_AN=1
#5GHz a/n/ac
HAVE_WIRELESS_AC=0

#Guest Network
HAVE_GUEST_NETWORK=1
#Wireless Repeating Function
HAVE_WDS=0
#37419BRIC Wireless Router SW Feature Spec draft v16 (chapter 20) PR SKU
WDS_SUPPORT_WPA=0
#add ap mode function
HAVE_AP_MODE=1
#DFS channel
DFS_CHANNEL=0
#bug 25665: DFS channel supported in canada,Europe and Austrilia
DFS_CHANNEL2=1
#DFS channel supported in Japan and United States
DFS_CHANNEL3=1
#support schedule wifi on/off
HAVE_WIRELESS_SCHEDULE=1
#[Bug23258][NEW GUI]DUT don't check existed schedule periods while restart WLAN
HAVE_WIFI_SCHEDULE_SPECIAL_CASE=0
#bug 16400: add a checkbox Enable Video Network
HAVE_VIDEO_NETWOR=1
#bug[16386]:[NETGEAR]add "Transmit Power Control" in the advanced
HAVE_TRANSMIT_POWER_CONTROL=1
#For BUG 33420 support transmit power control display 63% and 33%
TXCTL_63_33=0
#support 5g coexist
HAVE_AN_COEXIST=0
#Add "Enable 20/40 MHz Coexistence" in advanced wireless page
ADV_COEXISTENCE=1
#support protect pin
HAVE_PROTECT_PIN=1

#-------------end of wireless setting---------------#


#-------------start of internet setup----------------#
HAVE_L2TP=1
HAVE_BIGPOND=0
HAVE_PPPOE_MAC=1
#russian pptp
RUSSIAN_PPTP=1
#russian pppoe
RUSSIAN_PPPOE=0
# russian third DNS
HAVE_THIRD_DNS=1
#russian pppoe-wl-intranet
PPPOE_INTRANET=1
#support Automatic Internet reconnect for GR market
HAVE_AUTO_CONN_RESET=1
#-------------end of internet setup------------------#


#-------------- start of wan setup ------------------#
HAVE_VPN=1
#igmp
HAVE_IGMP=1
#bug 24622:Bridge IPTV
HAVE_BRIDGE_IPTV=1

HAVE_BRIDGE_MODE=1

#--------------- end of wan setup -------------------#


#--------------- start of USB -------------------#
HAVE_USB_STORAGE=1
READYSHARE_REMOTE=0
READYSHARE_PRINT=1
HAVE_VAULT=1

#[Bug 27693][New GUI] capacity of some USB storage can't be displayed correct
PARTITION_CAPACITY_VIA_DF=1

# this is function door about add multiply users for router, we can add more than one users in router. and also we can use sata device.
HDD_MULTI_USER=0

#support green download ( this is working, when HAVE_USB_STORAGE == 1 
GREEN_DOWNLOAD=1

# No mater is WW or PRRU, it include GREEN DOWNLOAD. Should set GREEN_DOWNLOAD to 1
WW_GREEN_DOWNLOAD=1

#Readyshare Mobile Connection
READYSHARE_MOBILE=0

#BRIC spec: support Mobile Broadband 3G USB Dongle
HAVE_BROADBAND=0

#support LTE Mobile Broadband
HAVE_LTE=0

#bug 32213BRIC spec: support Fast Lane (Turbo Video)
HAVE_FAST_LANE=0

#--------------- end of USB -------------------------#

#--------------- Start of QoS -----------------------#
HAVE_QOS=1

# No mater is WW or PRRU, it use quick qos pages. Should set HAVE_QOS to 1
WW_QUICK_QOS=1

#bug 31449 Add "Enable Trusted IP Address" in QOS page*/
QOS_TRUSTED_IP=0

#use command bing to get QoS uprate. 1:bing, 0:band-check
QOS_CMD_BING=0

HAVE_OOKLA_SPEEDTEST=1

# According to Spec 2.0 Page 35, for some application the port of TCP and UDP is different, use one rule can not contain all correct port of TCP and UDP.
# If use new design of QOS, set 1, and must modify qos_dft_list* in datalib to make each application/online-game have two rules([TCP & UDP] or [TCP/UDP & 0]);
# If use old design of QOS, set 0, and make sure each application/online-game only have one rules in datalib.
QOS_SPEC_2_0=1

#--------------- end of QoS ------------------------#

#--------------- end of DDNS ------------------------#
#DNS www.oray.cn 
DNS_ORAY=1
#DNS www.3322.org
DNS_3322=0
#DNS dynupdate.no-ip.com
DNS_NO_IP=1
#spec1.9 bug[19691]: remove Use Wildcards option 
DNS_WILDCARDS=0

NETGEAR_DDNS=1
#--------------- end of DDNS ------------------------#



#-----------multi language------------------#
HAVE_MULTILANGUAGE=1
NEW_MULTIPLE_LANGUAGE_19=1

DEFAULT_REGION=\"English\"
DEFAULT_LANGUAGE=\"/www/languages-en.js\"

# Chinese  GUI
HAVE_PR=1
# Traditional Chinese GUI
HAVE_TR_PR=0
# Japanese GUI
HAVE_JP=1
# Korean GUI
HAVE_KO=1

#default English language : language-en.js
DEFAULT_ENG=1
#default German language : language-gr.js
DEFAULT_GR=1
#default Chinese language : language-pr.js
DEFAULT_PR=0
#default Russian language : language-ru.js
DEFAULT_RU=1
#default Portuguese language : language-pt.js 
DEFAULT_PT=1
#default Korean language : language-ko.js 
DEFAULT_KO=0
#-------------------------------------------#
